{% extends 'base.html.twig' %}

{% block title %}Praticien index{% endblock %}

{% block body %}
    <div class="container-fluid">
  <h1>Tous les praticiens</h1>
  <div class="card-deck mb-3 text-center">
    {% for praticien in praticiens %}
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ praticien.Nom }} {{ praticien.Prenom }}</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>ID: {{ praticien.id }}</li>
            <li>Telephone: {{ praticien.Telephone }}</li>
            <li>Adresse: {{ praticien.Adresse }}</li>
            <li>Ville: {{ praticien.Ville }}</li>
            <li>Specialisation: {{ praticien.specialite }}</li>
            <li>Note: {{ praticien.Note }}</li>
          </ul>
          <a href="{{ path('app_praticien_show', {'id': praticien.id}) }}" class="btn btn-lg btn-block btn-primary">Voir</a>
          <a href="{{ path('app_praticien_edit', {'id': praticien.id}) }}" class="btn btn-lg btn-block btn-primary">Modifier</a>
        </div>
      </div>
    {% else %}
      <p>Aucun enregistrement trouvé</p>
    {% endfor %}
  </div>
  <a href="{{ path('app_praticien_new') }}" class="btn btn-primary">Créer un nouveau</a>
</div>
{% endblock %}
