{% extends 'base.html.twig' %}

{% block title %}Praticien{% endblock %}

{% block body %}
<h1 class="text-center my-5">Praticien</h1>
   <div class="container my-5">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="font-weight-bold">Id</th>
                <td>{{ praticien.id }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Nom</th>
                <td>{{ praticien.Nom }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Prenom</th>
                <td>{{ praticien.Prenom }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Telephone</th>
                <td>{{ praticien.Telephone }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Adresse</th>
                <td>{{ praticien.Adresse }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Ville</th>
                <td>{{ praticien.Ville }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Specialisation</th>
                <td>{{ praticien.specialite }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Note</th>
                <td>{{ praticien.Note }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_praticien_index') }}" class="btn btn-primary">Retour à la liste</a>
        <a href="{{ path('app_praticien_edit', {'id': praticien.id}) }}" class="btn btn-warning">Modifier</a>
    </div>

   {{ include('praticien/_delete_form.html.twig') }}
</div>

    
{% endblock %}
