{% extends 'base.html.twig' %}

{% block title %}Specialite index{% endblock %}

{% block body %}
    <h1>Specialite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialite in specialites %}
            <tr>
                <td>{{ specialite.id }}</td>
                <td>{{ specialite.Nom }}</td>
                <td>
                    <a href="{{ path('app_specialite_show', {'id': specialite.id}) }}">show</a>
                    <a href="{{ path('app_specialite_edit', {'id': specialite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_specialite_new') }}">Create new</a>
{% endblock %}
