{% extends 'base.html.twig' %}

{% block title %}Specialite{% endblock %}

{% block body %}
    <h1>Specialite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specialite.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ specialite.Nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_specialite_index') }}">back to list</a>

    <a href="{{ path('app_specialite_edit', {'id': specialite.id}) }}">edit</a>

    {{ include('specialite/_delete_form.html.twig') }}
{% endblock %}
