{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>

    <div class="card-deck mb-3 text-center">
        {% for patient in patients %}
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">{{ patient.Nom }} {{ patient.Prenom }}</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Telephone: {{ patient.Telephone }}</li>
                    <li>Adresse: {{ patient.Adresse }}</li>
                    <li>Ville: {{ patient.Ville }}</li>
                    <li>Sexe: {{ patient.Sexe }}</li>
                    <li>Naissance: {{ patient.Naissance ? patient.Naissance|date('Y-m-d') : '' }}</li>
                  </ul>
                  <a href="{{ path('app_patient_show', {'id': patient.id}) }}" class="btn btn-lg btn-block btn-primary">Voir</a>
                  <a href="{{ path('app_patient_edit', {'id': patient.id}) }}" class="btn btn-lg btn-block btn-primary">Modifier</a>
                </div>
            </div>
        {% else %}
            <p>Aucun enregistrement trouvé</p>
        {% endfor %}
    </div>

    <a href="{{ path('app_patient_new') }}" class="btn btn-primary">Créer un nouveau</a>
{% endblock %}