{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
<h1 class="text-center my-5">Patient</h1>
   <div class="container my-5">
    <table class="table table-bordered bg-white">
        <tbody>
            
            <tr>
                <th class="font-weight-bold">Nom</th>
                <td>{{ patient.Nom }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Prenom</th>
                <td>{{ patient.Prenom }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Telephone</th>
                <td>{{ patient.Telephone }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Adresse</th>
                <td>{{ patient.Adresse }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Ville</th>
                <td>{{ patient.Ville }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Sexe</th>
                <td>{{ patient.Sexe }}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Naissance</th>
                <td>{{ patient.Naissance ? patient.Naissance|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_patient_index') }}" class="btn btn-primary">Retour à la liste</a>
        <a href="{{ path('app_patient_edit', {'id': patient.id}) }}" class="btn btn-warning">Modifier</a>
    </div>

   {{ include('patient/_delete_form.html.twig') }}
</div>
{% endblock %}

