{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center my-5">
        <div class="col-md-6">
            <h1 class="text-center my-4">Register</h1>

            {{ form_start(registrationForm, {'attr': {'class': 'form-horizontal text-center my-4 '}}) }}
                <div class="form-group row d-flex justify-content-center my-5">
                    {{ form_label(registrationForm.email, 'Email', {'class': 'col-sm-2 col-form-label'}) }}
                    <div class="col-sm-10">
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center my-5">
                    {{ form_label(registrationForm.plainPassword, 'Password', {'class': 'col-sm-2 col-form-label'}) }}
                    <div class="col-sm-10 ">
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center my-5">
                    <div class="col-sm-10">
                        {{ form_widget(registrationForm.agreeTerms, {'label': 'Agree to terms', 'label_attr': {'class': 'form-check-label'}}) }}
                    </div>
                </div>

                <div class="form-group row d-flex justify-content-center my-5 ">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class=" btn btn-primary">Register</button>
                    </div>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}